@import "../common";

//头部
.header {
    width: $width;
    height: 26px;
    background: #F4F4F4;
    font-size: 14px;
    .typeArea {
        overflow: initial;
    }
    ul {
        text-align: right;
        li {
            display: inline-block;
            position: relative;
            a {
                padding: 0 20px;
                color: #666666;
                line-height: 26px;
                .icon-shouji-copy{
                    position: absolute;
                    top: 1px;
                    left: 5px;
                }
            }
            .code{
                display: none;
                position: absolute;
                width: 140px;
                height: 140px;
                padding: 5px;
                background: #fff;
                box-shadow: 0 0 4px 2px #e2e6ef;
                top: 30px;
                left: -38px;
                .triangle{
                    display: block;
                    border-bottom: 10px solid #fff;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    position: absolute;
                    top: -10px;
                    left: 60px;
                }
                img {
                    width: $width;
                }
            }
            &:hover .code{
                 display: block;
            }
        }
    }
}

//导航栏顶部
.top_nav {
    height: 90px;
    overflow: hidden;
    .banner {
        width: 110px;
        margin: 0 40px;
        float: left;
        img {
            width: 100%;
        }
    }
    .live_video {
        float: left;
        width: 272px;
        a{
            display: block;
            margin-top: 15px;
            .video_left {
                border: 2px solid #4185f4;
                width: 120px;
                height: 70px;
                box-sizing: border-box;
                position: relative;
                float: left;
                img {
                    width: $width;
                    height: $width;
                }
                .enter {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: rgba(0,0,0,0.6);
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    .triangle{
                        width: 16px;
                        height: 16px;
                        font-size: 13px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        color: #fff;
                    }
                }       
            }
            .video_right {
                width: 141px;
                float: left;
                margin-left: 10px;
                p {
                    color: #666666;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 14px;
                    line-height: 24px;
                    .text {
                        display: inline-block;
                        width: 68px;
                        height: 24px;
                        line-height: 24px;
                        text-align: center;
                        background: #f33647;
                        border-radius: 20px;
                        color: #fff;
                        .dian {
                            vertical-align: middle;
                            width: 4px;
                            height: 4px;
                            border-radius: 2px;
                            background: #fff;
                            display: inline-block;
                            margin-bottom: 3px;
                            margin-right: 2px;
                            animation: dian 1s linear infinite;
                        }
                    }
                }
                .listprice {
                    color: #f33647;
                }
            }
        }
    }
    .search {
        width: 438px;
        margin-left: 70px;
        float: left;
        position: relative;
        color: #848484;
        .inputsearch {
            width: 100%;
            border: 2px solid #4386F4;
            height: 44px;
            border-radius: 25px;
            margin-top: 20px;
            outline: none;
            font-size: 16px;
            color: #555;
            padding-left: 16px;
            box-sizing: border-box;
        }
        .icon-fangdajing {
            position: absolute;
            font-size: 24px;
            top: 30px;
            right: 20px;
            color: #4185F4;
            cursor: pointer;
        }
        .searchnav {
            margin-left: 14px;
            font-size: 14px;
            margin-top: 5px;
            a {
                color: #848484;
                margin-left: 5px;
            }
        }
    }
    .shopping {
        float: left;
        margin-left: 60px;
        width: 110px;
        margin-top: 25px;
        a {
            color: #666;
            .icon-gouwuche{
                font-size: 26px;
                i {
                    font-size: 14px;
                    margin-left: 5px;
                }
            }
            .circle {
                display: inline-block;
                width: 30px;
                height: 30px;
                background: red;
                border-radius: 15px;
                text-align: center;
                line-height: 30px;
                font-size: 14px;
                color: #fff;
                font-weight: bold;
                vertical-align: top;
            }
        }
        
    }
}
@keyframes dian {
    0% {opacity: 0;}
    50%{opacity: 0;}
    50%{opacity: 1;}
    100% {opacity: 1;}
}

//导航栏
.nav{
    height: 40px;
    margin-top: 10px;
    border-bottom: 2px solid #4185F4;
    .typeArea {
        position: relative;
        >a {
            display: block;
            float: left;
            margin-left: 58px;
            font-size: 18px;
            font-weight : 500;
            line-height: 40px;
            position: relative;
            .icon-qipao {
                font-size: 35px;
                color: red;
                transform: rotateZ(50deg);
                position: absolute;
                top: -3px;
                left: 55px;
                animation: qipao 1s linear infinite;
            }
            .hot {
                position: absolute;
                width: 30px;
                font-size: 12px;
                color: #fff;
                top: -3px;
                left: 63px;
                animation: hot 1s linear infinite;
            }
        }
        .allshop {
            text-align: center;
            background: #4185F4;
            color: #fff;
            width: 190px;
            margin-left: 0;
        }
        .index {
            margin-left: 72px;
        }
        .listGroup {
            min-width: 190px;
            width: 190px;
            position: absolute;
            left: 0;
            top: 42px;
            border: 1px solid #e2e6ef;
            background: #fff;
            box-sizing: border-box;
            height: 400px;
            z-index: 99;
            display: none;
            .listLeft {
                width: 190px;
                ul {
                    width: 190px;
                    overflow: hidden;
                    margin-top: 4px;
                    li {
                        padding-left: 4px;
                        padding-top: 1px;
                        height: 44px;
                        text-align: center;
                        line-height: 42px;
                        box-sizing: border-box;
                        border: 1px solid transparent;
                        border-left: 4px solid transparent;
                        &:hover {
                            width: 191px;
                            cursor: pointer;
                            border: 1px solid #e2e6ef;
                            border-right: 1px solid #fff;
                            border-left: 4px solid #4185F4;
                            color: #4185F4;
                        }
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            color: inherit;
                            font-size: 16px;
                            
                        }
                    }
                }
            }
            .listRight {
                width: 480px;
                height: 400px;
                position: absolute;
                left: 188px;
                top: -1px;
                padding: 0 10px;
                padding-top: 28px;
                box-sizing: border-box;
                overflow: hidden;
                border: 1px solid #e2e6ef;
                background: #fff;
                display: none;
                .group {
                    margin: 0 10px;
                    float: left;
                    width: 132px;
                    min-height: 210px;
                    h3 {
                        font-size: 16px;
                        font-weight: bold;
                        width: 133px;
                        height: 25px;
                        border-bottom: 1px solid #333333;
                    }
                    ul {
                        margin-top: 2px;
                        li {
                            line-height: 28px;
                            a {
                                font-size: #333333;
                                &:hover {
                                    color: #4185f6;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    

}
@keyframes qipao {
    0% {
        transform: rotateZ(50deg);
    }
    30% {
        transform: rotateZ(40deg);
    }
    60% {
        transform: rotateZ(50deg);
    }
    100% {
        transform: rotateZ(40deg);
    }
    
}
@keyframes hot {
    0% {
        transform: rotateZ(0deg) scale(0.8);
    }
    25% {
        transform: rotateZ(5deg) scale(1.0);
    }
    50% {
        transform: rotateZ(0deg) scale(0.8);
    }
    75% {
        transform: rotateZ(-2deg) scale(1.0);
    }
    100% {
        transform: rotateZ(0deg) scale(0.8);
    }
}

//列表目录

